@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
body{
    font-family:"IBM Plex Sans", sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(70, 0, 128) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 5rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

li {
    list-style-type: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 0.2rem;
    font-weight: bold;
}

.nav-link:hover, .nav-link:active{
    color: rgb(209, 88, 233);
}

main {
    text-align: center;
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
}

main h1 {
    margin-bottom: 1rem;
}

.logout {
    color: white;
    border: none;
    background-color: rgb(70, 0, 128);
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: inherit;
    padding: 0;
}

.logout:active, .logout:hover {
    background-color: rgb(70, 0, 128);
    color: rgb(209, 88, 233);
    padding: 0;
} 
