<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %> 
  <link rel="stylesheet" href="./style/home.css">
</head>
<body>
  <%- include('templates/header') %> 
    <main>
        <h1>You are banned! </h1>
        <p>You cannot use this account to post on website.</p> 
    </main>
</body>
</html>