<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %> 
  <link rel="stylesheet" href="./style/home.css">
</head>
<body>
  <%- include('templates/header') %> 
    <main>
        <h1>Welcome to my website. </h1>
        <p>In order to use it, you first must login or signup if you do not have account.
            This is the demo project.</p> 
    </main>
</body>
</html>