<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head') %> 
    <link rel="stylesheet" href="./style/style2.css" />
  </head>
  <body>
    <%- include('templates/header') %> 
    <main>
      <form action="/reset-password" method="POST" id="signupForm">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <h3>Reset</h3>
        
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="form-control">
          <label for="password">Confirm password</label>
          <input type="password" name="cpassword" id="cpassword" />
        </div>
        
        <input type="hidden" name="token" id="token" value="<%= token %>">
        <div class="form-control">
          <button type="submit">Submit!</button>
        </div>
        
      </form>

      <p>I forgot my password</p>
      <a href="/reset">Reset password</a>
    </main>
  </body>
</html>
