<header>
  <nav>
    <ul>
      <li><a class="nav-link" href="/home">Home</a></li>
      <% if (!locals.isAuthenticated) { %>
      <li><a class="nav-link" href="/signup">Signup</a></li>
      <li><a class="nav-link" href="/login">Login</a></li>
      <% } %> <% if (locals.isAuthenticated) { %>
      <li><a class="nav-link" href="/admin">Admin</a></li>
      <li><a class="nav-link" href="/profile">Profile</a></li>
      <li>
        <form action="/logout" method="POST">
          <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
          <button id="logout-btn">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
  
  <div class="container-c1">
    <div class="user-data">
    <% if (locals.avatar &&  locals.email) { %>
      <a href="/profile"><%= locals.email%></a>
      <a href="/profile"><img  src="<%= locals.avatar %> "></a>
    <% } %>
    </div>
    <div class="container-c2">
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <aside id="mobile-drawer">
        <nav>
          <ul>
            <li class="nav-item"><a href="/home">Home</a></li>
            <% if (!locals.isAuthenticated) { %>
            <li class="nav-item"><a href="/signup">Signup</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            <% } %>
            <% if (locals.isAuthenticated) { %>
            <li class="nav-item"><a href="/admin">Admin</a></li>
            <li class="nav-item"><a href="/profile">Profile</a></li>
            <li class="nav-item">
              <form action="/logout" method="POST">
                <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
                <button id="logout-btn-drawer">Logout</button>
              </form>
            </li>
            <% } %>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
  
</header>
